{
  "log": {
    "_recordingName": "#fetchRepositories",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7ceea9711870a1abd0eebdf23e2795b6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "x-tfs-fedauthredirect",
              "value": "Suppress"
            }
          ],
          "method": "OPTIONS",
          "queryString": [],
          "url": "https://dev.azure.com/default/_apis/Location"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 699,
            "text": "{\"value\":[{\"id\":\"00d9565f-ed9c-4a06-9a50-00e7896ccab4\",\"area\":\"Location\",\"resourceName\":\"ConnectionData\",\"routeTemplate\":\"_apis/{resource}\",\"resourceVersion\":1,\"minVersion\":\"1.0\",\"maxVersion\":\"7.1\",\"releasedVersion\":\"0.0\"},{\"id\":\"e81700f7-3be2-46de-8624-2eb35882fcaa\",\"area\":\"Location\",\"resourceName\":\"ResourceAreas\",\"routeTemplate\":\"_apis/{resource}/{areaId}\",\"resourceVersion\":1,\"minVersion\":\"3.2\",\"maxVersion\":\"7.1\",\"releasedVersion\":\"0.0\"},{\"id\":\"d810a47d-f4f4-4a62-a03f-fa1860585c4c\",\"area\":\"Location\",\"resourceName\":\"ServiceDefinitions\",\"routeTemplate\":\"_apis/{resource}/{serviceType}/{identifier}\",\"resourceVersion\":1,\"minVersion\":\"1.0\",\"maxVersion\":\"7.1\",\"releasedVersion\":\"0.0\"}],\"count\":3}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-tfs-processid",
              "value": "5986b5f8-26b9-4fe6-a04e-257cd2bde554"
            },
            {
              "name": "activityid",
              "value": "95017466-c001-4e69-a14d-60ae50c74dd8"
            },
            {
              "name": "x-tfs-session",
              "value": "95017466-c001-4e69-a14d-60ae50c74dd8"
            },
            {
              "name": "x-vss-e2eid",
              "value": "95017466-c001-4e69-a14d-60ae50c74dd8"
            },
            {
              "name": "x-vss-senderdeploymentid",
              "value": "c84c777c-7195-73c8-1a82-3367a26c86ef"
            },
            {
              "name": "x-vss-userdata",
              "value": "d725320b-a818-6eb5-8e09-ba4955e6b822:stefan@creativice.com"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 96,
      },
      {
        "_id": "decdd4deb4149a27425582ec05bebdba",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "x-tfs-fedauthredirect",
              "value": "Suppress"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dev.azure.com/default/_apis/ResourceAreas"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8; api-version=6.0-preview.1",
            "size": 27531,
            "text": "{\"count\":222,\"value\":[{\"id\":\"fb13a388-40dd-4a04-b530-013a739c72ef\",\"name\":\"policy\",\"locationUrl\":\"https://dev.azure.com/default/\"},{\"id\":\"c73a23a1-59bb-458c-8ce3-02c83215e015\",\"name\":\"Licensing\",\"locationUrl\":\"https://vssps.dev.azure.com/default/\"},{\"id\":\"01e4817c-857e-485c-9401-0334a33200da\",\"name\":\"dedup\",\"locationUrl\":\"https://vsblob.dev.azure.com/default/\"},{\"id\":\"79134c72-4a58-4b42-976c-04e7115f32bf\",\"name\":\"core\",\"locationUrl\":\"https://dev.azure.com/default/\"},{\"id\":\"aca667be-99e8-4f1a-a42b-065087b87049\",\"name\":\"importregion\",\"locationUrl[...]
