{
  "log": {
    "_recordingName": "fetchWorkItems",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "c87658800e60d86261594d9a627803be",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "x-tfs-fedauthredirect",
              "value": "Suppress"
            }
          ],
          "method": "OPTIONS",
          "queryString": [],
          "url": "https://dev.azure.com/michaelknoedel/_apis/Location"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 699,
            "text": "{\"value\":[{\"id\":\"00d9565f-ed9c-4a06-9a50-00e7896ccab4\",\"area\":\"Location\",\"resourceName\":\"ConnectionData\",\"routeTemplate\":\"_apis/{resource}\",\"resourceVersion\":1,\"minVersion\":\"1.0\",\"maxVersion\":\"6.1\",\"releasedVersion\":\"0.0\"},{\"id\":\"e81700f7-3be2-46de-8624-2eb35882fcaa\",\"area\":\"Location\",\"resourceName\":\"ResourceAreas\",\"routeTemplate\":\"_apis/{resource}/{areaId}\",\"resourceVersion\":1,\"minVersion\":\"3.2\",\"maxVersion\":\"6.1\",\"releasedVersion\":\"0.0\"},{\"id\":\"d810a47d-f4f4-4a62-a03f-fa1860585c4c\",\"area\":\"Location\",\"resourceName\":\"ServiceDefinitions\",\"routeTemplate\":\"_apis/{resource}/{serviceType}/{identifier}\",\"resourceVersion\":1,\"minVersion\":\"1.0\",\"maxVersion\":\"6.1\",\"releasedVersion\":\"0.0\"}],\"count\":3}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-tfs-processid",
              "value": "2d3a8f83-16f3-410e-9dd8-09170db06b9f"
            },
            {
              "name": "activityid",
              "value": "3c67c191-fc5b-4fda-a7b0-d3ce957bfd86"
            },
            {
              "name": "x-tfs-session",
              "value": "3c67c191-fc5b-4fda-a7b0-d3ce957bfd86"
            },
            {
              "name": "x-vss-e2eid",
              "value": "3c67c191-fc5b-4fda-a7b0-d3ce957bfd86"
            },
            {
              "name": "x-vss-userdata",
              "value": "e7f84ec3-0ecc-4b78-878b-42a5c2c8f424:michael.knoedel@jupiterone.com"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 366,
      },
      {
        "_id": "6948e3b8478b218fcf229177f06eefb4",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "x-tfs-fedauthredirect",
              "value": "Suppress"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dev.azure.com/michaelknoedel/_apis/ResourceAreas"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8; api-version=6.0-preview.1",
            "size": 28811,
            "text": "{\"count\":225,\"value\":[{\"id\":\"fb13a388-40dd-4a04-b530-013a739c72ef\",\"name\":\"policy\",\"locationUrl\":\"https://dev.azure.com/michaelknoedel/\"},{\"id\":\"c73a23a1-59bb-458c-8ce3-02c83215e015\",\"name\":\"Licensing\",\"locationUrl\":\"https://vssps.dev.azure.com/michaelknoedel/\"},{\"id\":\"01e4817c-857e-485c-9401-0334a33200da\",\"name\":\"dedup\",\"locationUrl\":\"https://vsblob.dev.azure.com/michaelknoedel/\"},{\"id\":\"79134c72-4a58-4b42-976c-04e7115f32bf\",\"name\":\"core\",\"locationUrl\":\"https://dev.azure.com/michaelknoedel/\"},{\"id\":\"aca667be-99e8-4f1a-a42b-065087b87049\",\"name\":\"[...]
