{
  "log": {
    "_recordingName": "APIClient.iterateWorkItems::missing-permission",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "7ceea9711870a1abd0eebdf23e2795b6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "x-tfs-fedauthredirect",
              "value": "Suppress"
            }
          ],
          "method": "OPTIONS",
          "queryString": [],
          "url": "https://dev.azure.com/default/_apis/Location"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 699,
            "text": "{\"value\":[{\"id\":\"00d9565f-ed9c-4a06-9a50-00e7896ccab4\",\"area\":\"Location\",\"resourceName\":\"ConnectionData\",\"routeTemplate\":\"_apis/{resource}\",\"resourceVersion\":1,\"minVersion\":\"1.0\",\"maxVersion\":\"6.1\",\"releasedVersion\":\"0.0\"},{\"id\":\"e81700f7-3be2-46de-8624-2eb35882fcaa\",\"area\":\"Location\",\"resourceName\":\"ResourceAreas\",\"routeTemplate\":\"_apis/{resource}/{areaId}\",\"resourceVersion\":1,\"minVersion\":\"3.2\",\"maxVersion\":\"6.1\",\"releasedVersion\":\"0.0\"},{\"id\":\"d810a47d-f4f4-4a62-a03f-fa1860585c4c\",\"area\":\"Location\",\"resourceName\":\"ServiceDefinitions\",\"routeTemplate\":\"_apis/{resource}/{serviceType}/{identifier}\",\"resourceVersion\":1,\"minVersion\":\"1.0\",\"maxVersion\":\"6.1\",\"releasedVersion\":\"0.0\"}],\"count\":3}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-tfs-processid",
              "value": "cb678dcb-881b-45bc-89ff-fc278da38f60"
            },
            {
              "name": "activityid",
              "value": "9e541f7e-a906-4c33-a21e-ecd8300ee863"
            },
            {
              "name": "x-tfs-session",
              "value": "9e541f7e-a906-4c33-a21e-ecd8300ee863"
            },
            {
              "name": "x-vss-e2eid",
              "value": "9e541f7e-a906-4c33-a21e-ecd8300ee863"
            },
            {
              "name": "x-vss-senderdeploymentid",
              "value": "bf2d63eb-b587-21d6-1b58-7c60ee08ad2d"
            },
            {
              "name": "x-vss-userdata",
              "value": "6b467498-de8d-4187-a37d-e1648a584273:ndowmon@gmail.com"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 291,
      },
      {
        "_id": "decdd4deb4149a27425582ec05bebdba",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "x-tfs-fedauthredirect",
              "value": "Suppress"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dev.azure.com/default/_apis/ResourceAreas"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8; api-version=6.0-preview.1",
            "size": 27111,
            "text": "{\"count\":224,\"value\":[{\"id\":\"fb13a388-40dd-4a04-b530-013a739c72ef\",\"name\":\"policy\",\"locationUrl\":\"https://dev.azure.com/default/\"},{\"id\":\"c73a23a1-59bb-458c-8ce3-02c83215e015\",\"name\":\"Licensing\",\"locationUrl\":\"https://vssps.dev.azure.com/default/\"},{\"id\":\"01e4817c-857e-485c-9401-0334a33200da\",\"name\":\"dedup\",\"locationUrl\":\"https://vsblob.dev.azure.com/default/\"},{\"id\":\"79134c72-4a58-4b42-976c-04e7115f32bf\",\"name\":\"core\",\"locationUrl\":\"https://dev.azure.com/default/\"},{\"id\":\"aca667be-99e8-4f1a-a42b-065087b87049\",\"name\":\"importregion\",\"locationUrl[...]
