{
  "log": {
    "_recordingName": "APIClient.verifyAuthentication::invalid-access-token",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "7ceea9711870a1abd0eebdf23e2795b6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "x-tfs-fedauthredirect",
              "value": "Suppress"
            }
          ],
          "method": "OPTIONS",
          "queryString": [],
          "url": "https://dev.azure.com/ndowmon/_apis/Location"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "www-authenticate",
              "value": "Basic realm=\"https://tfsprodcus6.visualstudio.com/\""
            },
            {
              "name": "x-tfs-processid",
              "value": "d9662c59-74aa-460d-a793-fef06e6cf99a"
            },
            {
              "name": "activityid",
              "value": "17fb349f-5b46-4689-bcb4-527de806c5d6"
            },
            {
              "name": "x-tfs-session",
              "value": "17fb349f-5b46-4689-bcb4-527de806c5d6"
            },
            {
              "name": "x-vss-e2eid",
              "value": "17fb349f-5b46-4689-bcb4-527de806c5d6"
            },
            {
              "name": "x-vss-senderdeploymentid",
              "value": "bf2d63eb-b587-21d6-1b58-7c60ee08ad2d"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 341,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
