{
  "log": {
    "_recordingName": "APIClient.verifyAuthentication::invalid-org-url",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "7ceea9711870a1abd0eebdf23e2795b6",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "x-tfs-fedauthredirect",
              "value": "Suppress"
            }
          ],
          "method": "OPTIONS",
          "queryString": [],
          "url": "https://dev.azure.com/a-very-invalid-org-url/_apis/Location"
        },
        "response": {
          "content": {
            "mimeType": "text/plain; charset=utf-8",
            "size": 29,
            "text": "The resource cannot be found."
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain; charset=utf-8"
            },
            {
              "name": "x-tfs-processid",
              "value": "dec4b167-4cef-41e1-80e2-beab3591495a"
            },
            {
              "name": "x-tfs-serviceerror",
              "value": "The%20resource%20cannot%20be%20found."
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 180,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
